html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    padding-bottom: 50px;
}

.card:hover, .img_mod:hover{
    border-style: solid;
    border-color: rgb(23, 95, 53);
    border-width: 2px;
}

a.card_mod{
    text-decoration: none;
}

.card-text{
    color: black !important;
}

.imgLogoFuncion{
    max-width: 50%;
    max-height: 240px;
}

#progressContainer{
    width: 60%;
}

.espacio10{
    clear: both;
    height: 20px;
}

.espacio20{
    clear: both;
    height: 50px;
}


